/* 
    CSS Custom
    album.html

    BuildWeek n.3
    Group n. 4
*/

/* Impostazioni globali */
body {
  font-size: 12px;
  background-color: #272727;
}

.colore-primario {
  background-color: #121212;
}

.colore-secondario {
  background-color: #272727;
}
/* end impostazioni globali */


/* Mobile */
.sidebar-sinistra {
  display: none;
}

.sidebar-destra {
  display: none;
}


/* Contenuto main */
.sf-playlist {
  background-color: #121212;
  height: 830px; 
  overflow-y: scroll;
}

/* Menù utente */
.sf-dropdown {
  background-color: #272727;
  font-size: 12px;
  border-radius: 25px;
  opacity: 0.5;
}

.sf-dropdown:hover {
  color: #fff;
}

.sf-dropdown-menu {
  background-color: #272727;
  color: #fff;
}

.sf-dropdown-item {
  background-color: #272727;
  color: #fff;
  font-size: 12px;
}

.sf-dropdown-item:hover {
  background-color: #151515;
  color: #fff;
}
/* End menù utente */

.contenuto-lista {
  height: 100px;
  margin-top: 50px;
  padding: 10px;
}

.sf-btn-primario {
  background-color: #00c358;
  border-radius: 20px;
  font-size: 10px;
}

.sf-btn-primario:hover {
  border: 1px solid #fff;
  color: #fff;
}

.sf-btn-play {
  color: #fff;
}


.sf-list-group-item {
  background-color: #121212;
  color: #fff;  
}

.sf-list-group-item:hover {
  background-color: #272727;
  color: #fff;  
}

.sf-name-music {
  color: #fff;
  font-size: 12px;
}


/* View Desktop */
@media (min-width: 1439px) {

  .sidebar-sinistra {
    display: block;
  }

  .menu-sidebar-sx {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .sidebar-destra {
    display: block;
  }
  
  /* controlli riproduzione brano */
  .sf-progress {
    height: 0.2rem;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .sf-btn-control {
    background-color: #272727;
    color: #fff;
  }

  .sf-btn-control:hover {
    color: #454545;
  }

  .sf-btn-control-play {
    background-color: #fff;
  }

  .sf-btn-control-play:hover {
    color: #fff;
    border: 1px solid #fff;
  }

  /* end controlli riproduzione brano */

  .sf-link {
    font-size: 14px;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sf-link:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px #00c358 solid; 
  }

  .title {
    color: #fff;
  }

  label {
    color: #fff;
    font-size: 9px;
  }

  th {
    font-size: 12px;
  }

  td, 
  tr {
    font-size: 14px;
  }

}


