@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* 
    CSS Custom
    index.html

    BuildWeek n.3
    Group n. 4
*/

/* Qui inizia lo stile comune a tutte le pagine */
/* 
    CSS Custom
    album.html

    BuildWeek n.3
    Group n. 4
*/

/* Impostazioni globali */
body {
  font-size: 12px;
  background-color: #272727;
}

.colore-primario {
  background-color: #121212;
}

.colore-secondario {
  background-color: #272727;
}
/* end impostazioni globali */


/* Mobile */
.sidebar-sinistra {
  display: none;
}

.sidebar-destra {
  display: none;
}

/* Contenuto main */
.sf-playlist {
  background-color: #121212;
  height: 100%; 
  overflow-y: scroll;
}

/* Menù utente */
.sf-dropdown {
  background-color: #272727;
  font-size: 12px;
  border-radius: 25px;
}

.freccia-sinistra,
.freccia-destra {
  font-size: 1.8rem;
}

.freccia-sinistra:hover {
  cursor: pointer;
  opacity: 0.5;
}

.freccia-destra:hover {
  cursor: pointer;
  opacity: 0.5;
}


/* .sf-dropdown:hover {
  color: #fff;
} */

.sf-dropdown-menu {
  background-color: #272727;
  color: #fff;
}

.sf-dropdown-item {
  background-color: #272727;
  color: #fff;
  font-size: 12px;
}

/* .sf-dropdown-item:hover {
  background-color: #151515;
  color: #fff;
} */
/* End menù utente */

.contenuto-lista {
  /* height: 100%; */
  margin-top: 50px;
  padding: 10px;
}

.contenuto-canzoni {
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.link-title:hover {
  cursor: pointer;
}

#titoloRiproduzione {
  font-size: 0.8rem;
}

.sf-btn-primario {
  background-color: #00c358;
  border-radius: 20px;
  font-size: 10px;
}

#heart-favoriti:hover {
  cursor: pointer;
}

#picturArtist:hover {
  cursor: pointer;
}

/* .sf-btn-primario:hover {
  border: 1px solid #fff;
  color: #fff;
} */

.sf-btn-play {
  color: #fff;
}

.sf-list-group-item {
  background-color: #121212;
  color: #fff;  
}

/* .sf-list-group-item:hover {
  background-color: #272727;
  color: #fff;  
} */

#picturArtist {
  width: 40px;
}

.footerRiproduzione {
  display: none;
}

.link-artista {
  color: #fff;
  text-decoration: none;
}

.link-artista:hover {
  cursor: pointer;
  color: #00c358;
}


/* View Desktop */
@media (min-width: 1439px) {

  #logo-spotify {
    width: 100px;
  }

  .linea {
    width: 100%;
    color: #272727;
  }

  .button-plus i {
    color: #000;
  }

  .button-brani {
    background: rgb(39,11,131);
    background: linear-gradient(45deg, rgba(39,11,131,1) 0%, rgba(87,78,162,1) 6%, rgba(123,142,154,1) 100%);
  }

  .button-episodi {
    background: rgb(0,69,55);
    background: linear-gradient(45deg, rgba(0,69,55,1) 0%, rgba(0,69,55,1) 6%, rgba(0,69,55,1) 100%);
  }

  .button-episodi i {
    color: #149643;
  }

  .lista-libreria {
    height: 100vh;
    overflow-y: scroll;
  }

  .lista-libreria li:hover {
    cursor: pointer;
    color: #149643;
  }

  .sidebar-sinistra {
    display: block;
  }

  .menu-sidebar-sx {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .menu-sidebar-sx:hover {
    cursor: pointer;
    color: #149643;
  }

  .sidebar-destra {
    display: block;
    
  }

  #table-hover th,
  #table-hover td {
    background-color: transparent;
    color: #fff;
  }
  
  /* controlli riproduzione brano */
  .sf-progress {
    height: 0.2rem;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .sf-progress-2 {
    height: 0.2rem;
    margin-top: -15px;
    margin-left: 140px;
    margin-right: 80px;
  }

  .sf-btn-control {
    background-color: #272727;
    color: #fff;
  }
/* 
  .sf-btn-control:hover {
    color: #454545;
  } */

  .sf-btn-control-play {
    background-color: #fff;
  }

  .sf-btn-control-play:hover {
    color: #fff;
    border: 1px solid #fff;
  }

  /* end controlli riproduzione brano */

  .sf-link {
    font-size: 14px;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sf-link:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px #00c358 solid; 
  }

  .title {
    color: #fff;
  }

  label {
    color: #fff;
    font-size: 9px;
  }

  th {
    font-size: 12px;
  }

  td, 
  tr {
    font-size: 14px;
  }

  .sf-name-music {
    color: #fff;
    font-size: 12px;
    margin-left: -50px;
  }

  .riproduzione {
    text-align: center; 
    margin-top: 50px
  }

  .riproduzione-volume {
    width: 100%;
  }

  .button-arrows {
    margin-left: 110px;
  }

  .footerRiproduzione {
    height: 150px;
    display: block;
  }

  #imageRiproduzione {
    width: 100px;
  }

}


  /* Qui finisce lo stile comune a tutte le pagine */

  /* INDEX */
  #pop, #rock, #rap, #elettronica, #metal, #reggaeton {
    border-radius: 13px;
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  #pop {
    background-color: #e13300;
  }

  #rock {
    background-color: #1e3264;
  }

  #rap {
    background-color: #e8125c;
  }

  #elettronica {
    background-color: #158a08;
  }

  #metal {
    background-color: #bc5800;
  }

  #reggaeton {
    background-color: violet;
  }

  #pop h2, #rock h2, #rap h2, #elettronica h2, #metal h2, #reggaeton h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 50px;
  }

  .contenuto.container .row {
    gap:25px 0;
    margin-bottom: 170px;
  }

  #main-head h2, #main-head h4 {
    color: white;
  }

  #main-head .row {
    gap: 20px 0;
  }

  
  #main-head .row .body {
    background-color: #494949;

  }

  #main-head .row .col-4 div {
    display: flex;
    width: 100%;
  }

  .body h6 {
    font-size: 12px;
    margin:0 60px 0 5px;
    color: white;
  }

  #taylor .row img, #metallica .row img, #eminem .row img, #nuovocontainer img{
    width:140px;
    margin-top: 5px;
    border-radius: 5px;
  }

  #main-head {
    margin-bottom: 170px;
  }

  #taylor, #metallica, #eminem, #nuovocontainer {
    margin-bottom: 20px;
  }

  #taylor h6, #taylor p, #metallica h6, #metallica p, #eminem h6, #eminem p, #nuovocontainer p, #nuovocontainer h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #taylor p, #metallica p, #eminem p, #nuovocontainer p {
    font-size: 10px;
    color: rgb(155, 151, 151);
    font-weight: 600;
  }

  #taylor h6, #metallica h6, #eminem h6, #nuovocontainer h6 {
    font-size: 13px;
    font-weight: 800;
    margin: 5px 0;
    color:white;

  }

  #taylor .row, #metallica .row, #eminem .row, #nuovocontainer .row {
    gap: 15px;
  }

  #taylor .row .card, #metallica .row .card, #eminem .row .card, #nuovocontainer .row .card {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .nascondi-annuncio {
    background-color: #313131;
    font-size: 10px;
    font-weight: 700;
    color: #8e8d8d;
  }

  .btn-salva {
    border: 1px solid white;
    color: white;
    font-weight: 700;
  }

  .btn-group button i {
    font-size: 15px;
    color: rgb(143 143 143);
  }

  h6.card-title {
    font-size: 10px;
    font-weight: 700;
  }

  .time {
    font-size: 8px;
    font-weight: 700;
    padding:0 ;
  }

  /* .progress {
    width: 50%;
    margin:0
  }

  .sf-progress {
    width: 75%;
  } */

  section.col-2.d-flex span i {
   font-size: 20px;
  }

  /* aside div.container div.row {
  margin-bottom: 40px;
} */

small.card-text {
  font-size: 6px;
  font-weight: 600;
}

.round img{
  border-radius: 3px 0 0 3px;
}

.round .body {
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  padding-left:10px;
}

.body h6 {
  color: white;
}

.homeCards .row .col {
  background-color: #373737;

}

#inputCerca {
  width: 90%;
}

#inputCerca input {
  background-color: #313131;
}

.input-group-text {
  background-color: #333333;
}

